{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="app-page-title mb-1">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success">
                    </i>
                </div>
                <div>Catalogo
                    <div class="page-title-subheading">Catalogo de Productos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Catalogo</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped " id="dataTable" >
        <thead>
        <tr>
                <th style="width:10%" >Imagen</th>
                <th style="width:10%" >UPC</th>
                <th style="width:10%" >SKU</th>
                <th style="width:10%" >Nombre</th>
                <th style="width:10%" >Precio</th>
                <th style="width:10%">Cantidad</th>
                <th style="width:10%" >Categoria</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {%  if product.image != null %}
                    <td><img class="img-fluid img-thumbnail rounded mx-auto d-block" width="70px" height="70px" src="{{ '/uploads/' ~ product.image }}" />
                    </td>

                    {% else %}
                        <td><img class="img-fluid img-thumbnail rounded mx-auto d-block" width="70px" height="70px" src="{{ asset('assets/images/product_placeholder.jpg') }}" />
                        </td>

                {% endif %}
                <td> </td>
                <td> </td>
                <td>{{ product.name }}</td>

                <td>${{ product.price }} MXN</td>
                <td>{{ product.quantity }}</td>

                {%  if product.category  != null %}
                    <td>{{ product.category.name }}</td>

                {% else %}
                    <td></td>

                {% endif %}

                <td>
                    <div class="btn btn-primary btn-sm">
                        <a class="text-white" href="{{ path('product_show', {'id': product.id}) }}">Detalles</a>

                    </div>
                    <div class="btn btn-primary btn-sm">
                        <a class="text-white" href="{{ path('product_edit', {'id': product.id}) }}">Editar</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
            <div class="btn btn-primary ">
                <a class="text-white" href="{{ path('product_new') }}">Nuevo Producto</a>
            </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>


{% endblock %}

