{{ form_start(form) }}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>Crear Menu
                <div class="page-title-subheading">Agrega un nuevo Menu
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Informacion de Menu</span>
        </a>
    </li>

    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-2">
            <span>Foto</span>
        </a>
    </li>

    <!--
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-3">
            <span>Finish</span>
        </a>
    </li>
    -->
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Publicidad</h5>
                <div class="row">
                    <div class="col">
                {{ form_row(form.title, {'label':'Titulo de Promoción'})  }}
                {{ form_row(form.telephone, {'value':'52','label':'Telefono' }) }}
                {{ form_row(form.whatsapp, {'label':'Whatsapp (Opcional)'}) }}
                {{ form_row(form.greeting, {'value':'Hola, quisiera hacer un pedido','label':'Contenido de Mensaje Whatsapp','attr':{'pattern': '[a-zA-Z ]*'} })  }}
                {{ form_row(form.name, {'label':'URL: https://fastmarkets.net/p/...','attr':{'pattern': "[^' ']+" } })  }}
                {{ form_row(form.notes, {'value':'Servicio en','label':'Notas (Opcional)','attr':{'pattern': '[a-zA-Z ]*'} })  }}

                {{ form_row(form.info, {'label':'Info (Opcional)'})  }}

                {{ form_row(form.description, {'value':'Ordena con nosotros por Whatsapp','label':'Descripción (Opcional)','attr':{'pattern': '[a-zA-Z ]*'} })  }}
                {{ form_row(form.website, {'label':'Sitio Web (Opcional)'})  }}
                    </div>
                    <div class="col">
                        <img class="img-fluid float-right" style="height:75%; width: auto" src="{{ asset('assets/images/iphone.png') }}">
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Picture</h5>
                {{ form_row(form.attachment) }}

                <div id="image-holder">
                    <img class="img-fluid img-thumbnail rounded my-3" width="170px" height="170px" src="{{ asset('assets/images/product_placeholder.jpg') }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Finish</h5>

            </div>
        </div>
    </div>
</div>
{{ form_row(form.save) }}
{{ form_end(form) }}



