<!doctype html>
<html lang="en">

<head>

    <title>{% block title %} {{ menu_data.title }} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, shrink-to-fit=no" />


    {% block stylesheets %}
        <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('stripe/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('stripe/global.css') }}" />
    {% endblock %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('js/StripeScript.js') }}"></script>
</head>

<body class="bg-secondary">

<div class="app-main bg-secondary">

    <div class="app-main__outer">

        <div class="app-main__inner">

            <div class="main-card mb-3 card">

                <div class="card-body">
                    <div id="card-area">
                        <div class="flex justify-center">
                            <div class="w-full max-w-sm m-6">
                                <div class="pasha-image-stack">
                                    <img
                                            src="https://picsum.photos/280/320?random=1"
                                            width="140"
                                            height="160"
                                    />
                                    <img
                                            src="https://picsum.photos/280/320?random=2"
                                            width="140"
                                            height="160"
                                    />
                                    <img
                                            src="https://picsum.photos/280/320?random=3"
                                            width="140"
                                            height="160"
                                    />
                                    <img
                                            src="https://picsum.photos/280/320?random=4"
                                            width="140"
                                            height="160"
                                    />
                                </div>
                                <div class="text-pasha font-semibold text-xl mb-4">
                                    Tu espacio de publicidad
                                </div>

                                <form id="signup-form">
                                    <div class="w-full mb-2">
                                        <!-- <label
                                          class="block text-gray-500 font-bold mb-2"
                                          for="inline-full-name"
                                        >
                                          Email address
                                        </label> -->
                                        <input
                                                class="appearance-none border-2 border-gray-200 rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-pasha"
                                                id="email"
                                                type="text"
                                                placeholder="Email address"
                                                required
                                        />
                                    </div>

                                    <button
                                            id="email-submit"
                                            class="w-full bg-pasha hover:bg-red-200 hover:shadow-outline rounded-md hover:text-pasha hover:border hover:border-black focus:shadow-outline text-white focus:bg-white focus:text-pasha font-light py-2 px-4 rounded"
                                            type="submit"
                                    >
                                        <div id="loading" class="hidden">Signing up...</div>
                                        <span id="button-text">Sign up</span>
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>

            </div>
            </div>

        </div>


    </div>
</div>

</body>
{% block javascripts %}

    <script src="{{ asset('jquery/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/main.js') }}"></script>


    <script>

    </script>
{% endblock %}
</html>



