<!doctype html>
<html lang="en">

<head>

    <title>{% block title %} {{ menu_data.title }} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, shrink-to-fit=no" />
    <meta property="og:title" content="{{ menu_data.title }} " />
    <meta property="og:url" content="{{ "https://www.fastmarket.com.mx/menu/" ~ menu_data.name  }}" />
    <meta property="og:description" content="{{ menu_data.description }}"/>
    <meta property="og:image" content="{{ "https://fastmarket.com.mx/images/"~ menu_data.preview }}"/>
    <meta property="og:image:secure_url" content="{{ "https://fastmarket.com.mx/images/"~ menu_data.preview }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />

    {% block stylesheets %}
        <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">

    {% endblock %}

</head>

<body class="bg-secondary">

<link itemprop="thumbnailUrl" href="{{ "https://fastmarket.com.mx/images/"~ menu_data.preview }}">
<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
  <link itemprop="url" href="{{ "https://fastmarket.com.mx/images/"~ menu_data.preview }}">
</span>

<div class="app-main bg-secondary">

    <div class="app-main__outer">

        <div class="app-main__inner">
            <style>
                .styled-table {
                    border-collapse: collapse;
                    margin: 25px 0;
                    font-size: 0.9em;
                    font-family: sans-serif;

                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                }

                table {
                    text-align: left;
                    position: relative;
                    border-collapse: collapse;
                }

                .styled-table thead tr {
                    background-color: #009879;
                    color: #ffffff;
                    text-align: left;
                }

                .styled-table th {
                    background-color: #009879;

                    position: sticky;
                    top: 0; /* Don't forget this, required for the stickiness */
                }

                .styled-table th,
                .styled-table td {
                    padding: 12px 15px;
                }
                .styled-table tbody tr {
                    border-bottom: 1px solid #dddddd;
                }

                .styled-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .styled-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }
                .styled-table tbody tr.active-row {
                    font-weight: bold;
                    color: #009879;
                }
                html, body {
                    overflow-x: hidden;
                }
                body {
                    overflow: hidden;
                    position: relative;
                    margin: 0;
                    padding: 0;
                }

                .add_product{
                    margin-top: 1rem;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    margin-left: 0rem;
                    color: white;
                    font-size: 20px;
                    font-family: sans-serif;
                    /* This makes things *much* easier */
                    box-sizing: border-box;
                    position: absolute;
                    width: 120px;
                    height: 50px;
                }
            </style>

            <div class="main-card mb-3 card">

                <div class="card-body">
                    <div id="card-area">
                        {% if menu_data.numOfImages <= 1 %}
                            <img class=" img-fluid rounded my-3 border"  src="{{ asset('/images/'~ menu_data.image ~ '_1.png') }}" />
                        {% endif %}
                        {% if menu_data.numOfImages > 1 %}
                        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">




                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid rounded my-3 border"  src="{{ asset('/images/'~ menu_data.image ~ '_1.png') }}" />
                                </div>


                                {% for i in 2..menu_data.numOfImages  %}
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-fluid rounded my-3 border"  src="{{ asset('/images/'~ menu_data.image ~ '_'~ i ~'.png') }}" />
                                </div>
                                    {%endfor %}

                            </div>

                            <a class="carousel-control-prev"  href="#carouselExampleControls1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next"  href="#carouselExampleControls1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="container">
                    <div class = "row">

                        <div class="col-sm text-center ">

                                {% if menu_data.notes is not null %}
                                {{ menu_data.notes }}
                                {% endif %}
                                {% if menu_data.info is not null %}
                                    <button type="button" class="rounded-circle btn btn-light border-black mx-4" style="position: absolute" data-toggle="tooltip" data-placement="top" title="{{ menu_data.info }}">
                                        i
                                    </button>
                                {% endif %}

                            <div>
                            <button class="btn btn-secondary border-dark " onclick="call()">Llamar</button>
                            <button class="btn btn-success border-dark" onclick="payment()">Whatsapp</button>

                            </div>

                                <div>
                                    {% if menu_data.data is not null %}
                                        <table id="cart" class="products-cart styled-table my-2" style="overflow: scroll;height: 200px;display:block;" >
                                            <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th></th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>


                        </div>
                    </div>
                </div>

            </div>
            </div>

            <p class="dataText" style="display: none" >{{ menu_data.data }}</p>

        </div>

        <div class="app-wrapper-footer">
            <div class="app-footer">
                <div class="app-footer__inner">
                    <div class="app-footer-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="btn-sm btn-primary border-dark" href="https://wa.me/528111774732?text=Hola%2C+quisiera+publicarme+con+ustedes." role="button">Publicate aqui!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</body>
{% block javascripts %}

    <script src="{{ asset('jquery/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/main.js') }}"></script>



    <script>
        function call(){
            window.open("tel:+"+{{ menu_data.telephone }});
        }
        function payment() {
            var row_count = $('#cart tr').length;
            var uri ='{{ menu_data.greeting }}\n';
            $('#cart tr').each(function(index, tr) {
                if(index>0) {
                    console.log(index);
                    var row = $(tr).closest('tr');
                    var quantity = row.find('#quantity').text();
                    if(index < row_count-1){
                        uri += tr.id + " x " + quantity + '\n';
                    }else{
                        uri += tr.id + " x " + quantity;
                    }
                }
            });
            var uriText = encodeURI(uri);
            // console.log(uri)
            window.location.href = "https://wa.me/"+{{ menu_data.telephone }} +"?text="+uriText;
        }
        function loadButtons(){
            var elementText = document.getElementsByClassName('dataText');
            var jsonObj = JSON.parse(elementText);
            for(var i =0; i < getLength(jsonObj,'Button_');i++){
                var key = "Button_"+ i;
                var buttonElem = document.createElement('button');
                var buttonElemText = document.createTextNode(key);
                buttonElem.className = "btn btn-outline-secondary add_product";
                buttonElem.id = key;
                buttonElem.appendChild(buttonElemText);
                //  var button = $("<button class='btn btn-outline-secondary mybtn' id="+key+"></button>").text(i);
                document.getElementById("card-area").prepend(buttonElem);
            }
        }
        $(document).on('click', '.remove_all', function(){
            $(this).parent().parent().remove();
        });
        $(document).on('click', '.remove_product', function(){
            var quantity = $(this).parent().parent().children()[1].innerText;
            var prodPrice = parseFloat($(this).parent().parent().children()[2].innerText)/parseFloat(quantity);
            var prodID = $(this).parent().parent().attr('id');
            var i = $(this).parent().parent().index();
            var table = $(this).parent().parent().parent();
            if(quantity === "1"){
                $(this).parent().parent().remove();
            }else{
                $(this).parent().parent().children()[1].innerText = quantity - 1;
            }
        });
        $(document).on('click', '.add_product', function(){
            console.log("Hey");
            var cart = $('.products-cart');
            var prodName = $(this).attr('data-name');
            var prodID = $(this).attr('data-id');
            var prodAmount = 1;
            var cellVal = $(".products-cart tr td").filter(function() {
                return $(this).text() === prodName;
            });
            if(cellVal.text() === ""){

                    cart.prepend('<tr class="active-row" id="'+prodName+'"><td >'+prodName+'</td><td id="quantity">1</td><td><div class="remove_product btn btn-danger btn-sm my-1 mx-1" style="position: initial;">Borrar</div><div class="remove_all btn btn-warning my-1 btn-sm" style="position: initial;">Vaciar</div></td></tr>');

            }else{
                var quantity = parseInt(cellVal.parent().children()[1].innerText);
                cellVal.parent().children()[1].innerText = quantity + 1;
            }
        });
        $( window ).on( "orientationchange", function( event ) {
            //  $( ".mybtn" ).remove();
            location.reload();
            //   DoStuff();
        });
        function DoStuff(){
            console.log("Added")
            var elementText = $('.dataText').text();
            var jsonObj = jQuery.parseJSON(elementText);
            var posX = 0;
            var posY = 0;
            var buttonWidth = 0;
            var buttonHeight = 0;
            var originalHeight = 968;
            var menuImage = $('#card-area').children('img');
            var scale = (100-(menuImage[0].clientWidth/originalHeight)*100);
            console.log(menuImage[0].clientWidth)
            var scaleMult = (1-(scale/100));
            console.log(scale);
            console.log(scaleMult);
            //console.log(570*(1-(scale/100)));
            for(var i =0; i < getLength(jsonObj,'Button_');i++){
                var key = "Button_"+ i;
                var button = $("<button class='btn border-dark btn-outline-success mybtn' id="+key+"></button>");
                $('#card-area').prepend(button);
                posX = jsonObj[key].xpos;
                posY = jsonObj[key].ypos;
                buttonWidth = jsonObj[key].width;
                buttonHeight = jsonObj[key].height;
                $('#'+key).css({"-webkit-transform":"translate("+posX*scaleMult+"px,"+posY*scaleMult+"px)"});
                $('#'+key).css({"width":buttonWidth*scaleMult});
                $('#'+key).css({"height":buttonHeight*scaleMult});
            }
        }
        $(document).ready(function(data){
            var elementText = $('.dataText').text();
            var jsonObj = jQuery.parseJSON(elementText);
            var posX = 0;
            var posY = 0;
            var buttonWidth = 0;
            var buttonHeight = 0;
            var originalHeight = 968;
            var menuImage = $('#card-area').children('img');
            var scale = (100-(menuImage[0].clientWidth/originalHeight)*100);
            var scaleMult = (1-(scale/100));
            console.log(scale);
            console.log(scaleMult);
            console.log(570*(1-(scale/100)));
            for(var i =0; i < getLength(jsonObj,'Button_');i++){
                var key = "Button_"+ i;
                var button = $("<button class='btn border-dark btn-outline-link add_product' id="+key+"></button>");
                $('#card-area').prepend(button);
                posX = jsonObj[key].xpos;
                posY = jsonObj[key].ypos;
                buttonWidth = jsonObj[key].width;
                buttonHeight = jsonObj[key].height;
                $('#'+key).css({"-webkit-transform":"translate("+posX*scaleMult+"px,"+posY*scaleMult+"px)"});
                $('#'+key).css({"width":buttonWidth*scaleMult});
                $('#'+key).css({"height":buttonHeight*scaleMult});
                $('#'+key).attr("data-name",jsonObj[key].itemname)
                $('#'+key).attr("data-id",key)
            }
        });
        function getLength(json,key){
            var jsonLength = 0;
            while(json[key+jsonLength]!== undefined){
                jsonLength++;
            }
            return jsonLength;
        }
    </script>
{% endblock %}
</html>



